APP_URL=http://localhost:3000
DESERT_RETAIL_API_URL=https://desertretail.co.za:19001/Service.asmx
DESERT_RETAIL_USERNAME=
DESERT_RETAIL_PASSWORD=
DESERT_RETAIL_TERMINAL_ID=TOPMEUP
PAYSTACK_API_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=
TURSO_DB_URL=file:local.db
TURSO_DB_AUTH_TOKEN=
RESEND_API_KEY=
NOREPLY_EMAIL_DOMAIN=
